<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guages</title>
<link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body onLoad="dataInputFunction()">

<script type="text/javascript" src="/javascripts/guage.js"></script>
   
   
   <script>
  function dataInputFunction() {
  
	createGauge("voltage", "Voltage", "mV", 0, 15000);
	createGauge("current", "Current", "mA", 0, 1300);
	createGauge("rpm", "RPM", "rpm", 0, 8000);
	createGauge("power", "Power", "mW", 0, 3000);

   
console.log('update nothing ');

var dataItem;
			var iosocket = io.connect('http://127.0.0.1:1337');

	iosocket.on('connect', function (data) {
		console.log('client connected ');
		console.log('connected data ' + data);

			jQuery(function ($) {
				iosocket.on('updateData', function (data) {
		//			console.log('update ' + data);
					dataItem = JSON.parse(data);
		//			console.log('updateData current ' + dataItem.current);


				var realRPM = Math.floor(((dataItem.rpm * 3.3)/1024)*1000); //*666.667);
			
				updateGauge("current", dataItem.current);
				updateGauge("voltage", dataItem.voltage);
				updateGauge("rpm", realRPM);
				updateGauge("power", dataItem.power);
				 
				});
			});
	});
 
		$('.DIstartButton').on("click", function(event){
		     //   iosocket.emit('sliderval',3 );
  					event.preventDefault();					
					var posting = $.post( '/dataInput', { dataInputValue: 'on' } );
// console.log('dataInputPost now');
					posting.done(function( data ) {
//						console.log('client dataInput post done ');
					});
				});	
				
		$('.DIstopButton').on("click", function(event){
		     //   iosocket.emit('sliderval',3 );
  					event.preventDefault();					
					var posting = $.post( '/dataInput', { dataInputValue: 'off' } );
// console.log('dataInputPost now');
					posting.done(function( data ) {
//						console.log('client dataInput post done ');
					});
				});	
				
};
				
</script>
 
<div class=dataInputDiv>

<title><%= title %></title>
<div class="DIstartButtonDiv">
<form name="DIstartButton" id"startButton" class="DIstartButton" action="/dataInput" method="post"></form>
	<span><button class="DIstartButton" id="DIstartButton" name="DIstartButton" >Start Data</button> </span>
</div>
<div class="DIstopButtonDiv">
	<form name="DIstopButton" id"stopButton" class="DIstopButton" action="/dataInput" method="post"></form>
	<span><button class="DIstopButton" id="DIstopButton" name="DIstopButton" >Stop Data</button> </span>

		
</div>
</form>
	</div>

	<span id="guageDiv" class="guageDiv" name="guageDiv">
 		<span id="currentGaugeContainer"></span>
		<span id="voltageGaugeContainer"></span>
		<span id="powerGaugeContainer"></span>
		<span id="rpmGaugeContainer"></span>

	</span>


</body>
</html>