<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guages</title>
<link rel="stylesheet" href="../stylesheets/style.css">
</head>
<style>
	.DIstartButtonDiv{
			position: absolute;
			left: 600px; top: 800px;
		}
		.DIstartButton {
			position: absolute;
			width: 80px; height: 50px;
		}
</style>

<body onLoad="dataInputFunction()">

<script type="text/javascript" src="/javascripts/guage.js"></script>
   
   
   <script>
  function dataInputFunction() {
  
	createGauge("voltage", "Voltage", "V");
	createGauge("current", "Current", "mA");
	createGauge("rpm", "RPM", "rpm", 0, 5000);
	createGauge("power", "Power", "mW", 0, 120000);

   
console.log('update nothing ');

var dataItem;
			var iosocket = io.connect('http://127.0.0.1:1337');

	iosocket.on('connect', function (data) {
		console.log('client connected ');
		console.log('connected data ' + data);

			jQuery(function ($) {
				iosocket.on('updateData', function (data) {
		//			console.log('update ' + data);
					dataItem = JSON.parse(data);
		//			console.log('updateData current ' + dataItem.current);


				var realRPM = Math.floor(((dataItem.rpm * 3.3)/1024)*1000); //*666.667);
			
				updateGauge("current", dataItem.current);
				updateGauge("voltage", dataItem.voltage);
				updateGauge("rpm", realRPM);
				updateGauge("power", dataItem.power);
				 
				});
			});
	});
 
		$('.DIstartButton').on("click", function(event){
		     //   iosocket.emit('sliderval',3 );
  					event.preventDefault();					
					var posting = $.post( '/dataInput', { pitchAngleValue: "0" } );
// console.log('dataInputPost now');
					posting.done(function( data ) {
//						console.log('client dataInput post done ');
					});
				});	
				
};
				
</script>
 
<div class=dataInputDiv>

<title><%= title %></title>
<form name="DIstartButton" id"startButton" class="DIstartButton" action="/dataInput" method="post">
 
		
<div class="DIstartButtonDiv">
 <button class="DIstartButton" id="DIstartButton" name="DIstartButton" >Start Data</button> 
 
  </div>
</form>
	</div>

	<span id="guageDiv" class="guageDiv" name="guageDiv">
 		<span id="currentGaugeContainer"></span>
		<span id="voltageGaugeContainer"></span>
		<span id="powerGaugeContainer"></span>
		<span id="rpmGaugeContainer"></span>

	</span>


</body>
</html>