<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guages</title>
 <style>
 		.guageDiv {
			position:absolute;
			left:630px; top:650px;
		}
     
        </style>
</head>
<body onLoad="initialize()">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src='/javascripts/guage.js'></script>
	<div id="guageDiv" class="guageDiv" name="guageDiv">
 		<span id="memoryGaugeContainer"></span>
		<span id="cpuGaugeContainer"></span>
		<span id="networkGaugeContainer"></span>
		<span id="testGaugeContainer"></span>
	</div>
</body>
</html>