<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>infoFrame</title>
 </head>
<body>
<link rel="stylesheet" href="../stylesheets/style.css">
<iframe id="infoFrame" class="infoFrame" name="infoFrame" src="http://javascript.info"></iframe>
</body>
</html>