
<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>WindSock</title>


    </head>
    <body>
	
<div class="WSbuttonDiv">
<span class="WSbuttons">
	<button class="WSdownButton" id="WSdownButton" >\/</button>
	<button class="WSupButton" id="WSupButton" name="WSupButton" >/\</button>
  </span>
</div>
 
	<div class="windSpeedDiv">
 <form name="windSpeedForm" id"windSpeedForm" class="windSpeedForm" action="/windSpeed" method="post">

         <a class="awesome-button"></a>
        <p class="WScurrentValue" id="WScurrentValue" >Wind Speed: <span>0 m/s</span></p>

        <script>
var mouseIsDown = "false";
var WSframeToPlay = 6;
var WScurrentValue = 0;
var WSnumFrames = 160;

		//setup a variable to store our last position
var last_position = {},
$output       = $('#output');

            //Instantiate and get the instance from the element's data-spriteClip property
            var WSinstance = $(".awesome-button").spriteClip({
                totalFrames: WSnumFrames,
                frameRate: 60,
                stops: [6, WSnumFrames]
            }).data("spriteClip");
WSinstance.currentFrame = WSframeToPlay;

            
            WSinstance.$el
                .on("touchstart", function () {
					console.log('mouse down');
					mouseIsDown = "true";
					last_position = {
						x : event.touches[0].clientX,
						y : event.touches[0].clientY
											
					}
				})
			
				// $(".awesome-button").on('touchmove', function (event) {
				.on('touchmove', function (TouchEvent) {
				
console.log('touchmove in button '+mouseIsDown);
		
				if ( mouseIsDown === "true" ) {
										console.log('mouseIsDown == true in touchmove');

					//check to make sure there is data to compare against
					if (typeof(last_position.x) != 'undefined' ) {
					//get the change from last position to this position
					console.log('XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXget mouse location from event first time');

					var deltaX = last_position.x - event.touches[0].clientX,
						deltaY = last_position.y - event.touches[0].clientY;

console.log("Frame to Play "+WSframeToPlay);
				var initialWSfameToPlay = WSframeToPlay;
				console.log('deltaY: '+deltaY);			
				WSframeToPlay = Math.floor(+WSframeToPlay + +deltaY/2);
console.log('Play WS frame: '+WSframeToPlay);

				if 	(+WSframeToPlay >= +160) WSframeToPlay = +160;
				if 	(+WSframeToPlay <= +6) WSframeToPlay = +6;
// WSframeToPlay = Math.floor(WSframeToPlay);		
				console.log('Play WS frame: '+WSframeToPlay);
// WSinstance.stops([initialWSfameToPlay,WSframeToPlay]);	
				
				// WSinstance.stop();
				WSinstance.gotoAndStop(WSframeToPlay);	
				// WSinstance.stop();
				// if (deltaY > 0) WSinstance.play(WSframeToPlay, 1);
				// else if (deltaY < 0) WSinstance.rewindtoAndStop(WSframeToPlay, 1);
			

				}
			} else {
					console.log('mouseIsDown != true ');
					WSinstance.stop();
				}
							//set the new last position to the current for next time
					last_position = {
						x : event.touches[0].clientX,
						y : event.touches[0].clientY
					}
            
			})
			
                .on("touchend", function () {
					mouseIsDown = "false";
											console.log('mouseIsDown = false ');

           //         WSinstance.stop();
					event.preventDefault();
					WScurrentValue = (WSinstance.currentFrame/WSnumFrames)*100;

					console.log('client windSpeed: '+WSinstance.currentFrame);
					var posting = $.post( '/windSpeed', { windSpeedValue: WScurrentValue } );
					
					var valueText = (WScurrentValue*0.1456)-0.5523;	
					valueText =  +(Math.round(valueText +"e+1")+"e-1");
					
				
					$(".WScurrentValue span").text(valueText+" m/s");
					posting.done(function( data ) {
						console.log('client post done ');
					})
                });

            WSinstance.$dispatcher
                .on(SpriteClip.Event.ENTER_FRAME, function (e, clip) {
					
					WScurrentValue = (WSinstance.currentFrame/WSnumFrames)*100;

					var valueText = (WScurrentValue*0.1456)-0.5523;	
					valueText =  +(Math.round(valueText +"e+1")+"e-1");
					
					$(".WScurrentValue span").text(valueText+" m/s");

                    $(".WScurrentFrame span").text(WSinstance.currentFrame);
                });
				
				
				
				$('#WSupButton').click(function(TouchEvent){
				  	event.preventDefault();

					if 	(+WSinstance.currentFrame < +WSnumFrames) {

										console.log('client wind speed BUTTON: '+WSinstance.currentFrame);
					WSinstance.nextFrame();

					// WSinstance.currentFrame += 1;
					console.log('client windSpeed BUTTON: '+WSinstance.currentFrame);
										
					WScurrentValue = (WSinstance.currentFrame/WSnumFrames)*100;

					var posting = $.post( '/windSpeed', { windSpeedValue: WScurrentValue } );
										
					var valueText = (WScurrentValue*0.1456)-0.5523;	
					valueText =  +(Math.round(valueText +"e+1")+"e-1");
					$(".WScurrentValue span").text(valueText+" m/s");
                    $(".WScurrentFrame span").text(WSinstance.currentFrame);
					posting.done(function( data ) {
						console.log('client windSpeed post done ');
					});
					};
				});
			$('#WSdownButton').click(function(TouchEvent){
			  	event.preventDefault();

				if 	(WSinstance.currentFrame > 6) {

					WSinstance.prevFrame();

					WScurrentValue = (WSinstance.currentFrame/WSnumFrames)*100;

					console.log('client windSpeed BUTTON: '+WSinstance.currentFrame);
					var posting = $.post( '/windSpeed', { windSpeedValue: WScurrentValue } );
										
					var valueText = (WScurrentValue*0.1456)-0.5523;	
					valueText =  +(Math.round(valueText +"e+1")+"e-1");

					
					$(".WScurrentValue span").text(valueText+" m/s");
                    $(".WScurrentFrame span").text(WSinstance.currentFrame);
					posting.done(function( data ) {
						console.log('client windSpeed post done ');
					});
				};
			});		
				
function fixPageXY(e) {
  if (e.pageX == null && e.clientX != null ) {
    var html = document.documentElement
    var body = document.body
 
    e.pageX = e.clientX + (html.scrollLeft || body && body.scrollLeft || 0)
    e.pageX -= html.clientLeft || 0
    e.pageY = e.clientY + (html.scrollTop || body && body.scrollTop || 0)
    e.pageY -= html.clientTop || 0
  }
}
		
				
        </script>
 </form>
	</div>
    </body>
</html>
